* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

main {
    margin-top: 60px; /* ヘッダーの高さと同じに設定 */
}

.product-detail-container {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: flex-start;
    width: 60%;
    margin: 0 auto;
}

.product-image {
    flex: 1;
    max-width: 600px;
    max-height: 600px;
}

#3d-model-container {
    width: 500px;
    height: 500px; 
    border: 1px solid #ccc;
    border-radius: 8px;
}

.product-info {
    flex: 2;
    text-align: center;
}

.product-info h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.product-info p {
    margin-bottom: 10px;
}

.product-purchase {
    flex: 1;
    text-align: center;
    margin-top: 20px; /* ボタンの位置を下げる */
    padding: 20px;
    border: 1px solid #ccc; /* ボックスの枠線 */
    border-radius: 8px; /* ボックスの角を丸くする */
}

.product-info .price {
    font-size: 1.5em;
    color: black;
    margin-bottom: 20px;
}

.product-info #add-to-cart {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-purchase #add-to-cart:hover {
    background-color: #0056b3;
}

.related-products {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
}

.related-products h2 {
    text-align: left;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.product-card .price {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}
